.App,
body,
p,
a,
li,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label,
td,
th {
    font-family: "Panton" !important;
}

@font-face {
    font-family: "Panton";
    src: url("Panton-Bold.eot");
    src: local("Panton Bold"), local("Panton-Bold"),
        url("Panton-Bold.eot?#iefix") format("embedded-opentype"),
        url("Panton-Bold.woff") format("woff"),
        url("Panton-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Panton";
    src: url("Panton-Regular.eot");
    src: local("Panton Regular"), local("Panton-Regular"),
        url("Panton-Regular.eot?#iefix") format("embedded-opentype"),
        url("Panton-Regular.woff") format("woff"),
        url("Panton-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
